
block content
    main
        div.section
            a.btn.btn__new-request(href='/newRequest') New Request


        .welcome-gnb.section
            - if (requests.length === 0)
                h1.section__title Welcome to Geneva Business News
            - else

                .welcome-requests
                    div.section
                        table.requests__table
                            thead 
                                tr
                                    th
                                    th: span Time
                                    th: span Name
                                    th: span Hardware
                                    th: span Status
                            tbody
                                each request in requests
                                    tr.requests__row
                                        td
                                            a
                                                span(class=`material-symbols-outlined btnEdit ${request.isOpen ? '' : 'request-edit--closed'}`, request-id=`${request._id}` request-open=`${request.isOpen}`) edit
                                        td: span= request.requestAt.toLocaleString('en-UK', {hour: 'numeric', minute:'numeric', year: 'numeric', month: 'long', day: 'numeric'})
                                        td: span= request.user
                                        - let hw = request.hardware.map(el => {return el.tag;});
                                        td: span= hw
                                        td: button.btn.btn__finish-request(request-id=`${request._id}`, request-open=`${request.isOpen}`, class=`${request.isOpen ? '' : 'request--closed'}`)= `${request.isOpen ? 'Open' : 'Closed'}`